################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CreateRMA_STAGING_Database
/CreateRMA_STAGING_Database
/D705 with SCHEMA DropDown
/Data Base
