<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="coreAppSettings">
      <section name="Dictionaries" type="Core.Framework.Core.Framework.ConfigSettingsReader,Core.Framework" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="RMA_Batch.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="KeepCorePDF" value="True" />
    <add key="JobOutPut" value="false" />
    <add key="AlwaysUseSystemConnectionString" value="true" />
    <add key="SessionManager" value="localhost:15124" />
    <add key="UseMultipleConnectStrings" value="True" />
    <add key="AuthenticationDatabase" value="SQL Server" />
    <add key="SQLServerUseSchemas" value="True" />
    <add key="KeepSubFile" value="true" />
    <add key="SubFileSchema" value="TEMPORARYDATA" />
    <add key="SubfileKeepToText" value="true" />
    <add key="Culture" value="SQL_Latin1_General_CP1_CI_AS" />
    <add key="DeployedReportURL" value="/Reports/" />
    <add key="ReportQTPSchema" value="101C" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="Version" value="6.0.0.17" />




    <add key="ConnectionString1" value="Initial Catalog=101C;Data Source=TS-01;User ID=sa;Password=oR//0j8iap1Ypt+bSzznGw==;Integrated Security='false';" />
    <add key="ConnectionString2" value="Initial Catalog=101CD2;Data Source=TS-01;User ID=sa;Password=oR//0j8iap1Ypt+bSzznGw==;Integrated Security='false';" />
    <add key="ConnectionString3" value="Initial Catalog=101CD3;Data Source=TS-01;User ID=sa;Password=oR//0j8iap1Ypt+bSzznGw==;Integrated Security='false';" />
    <add key="ConnectionString4" value="Initial Catalog=101CD4;Data Source=TS-01;User ID=sa;Password=oR//0j8iap1Ypt+bSzznGw==;Integrated Security='false';" />
    <add key="ConnectionString5" value="Initial Catalog=101CD5;Data Source=TS-01;User ID=sa;Password=oR//0j8iap1Ypt+bSzznGw==;Integrated Security='false';" />
    <add key="ConnectionString6" value="Initial Catalog=MP;Data Source=TS-01;User ID=sa;Password=oR//0j8iap1Ypt+bSzznGw==;Integrated Security='false';" />
    <add key="ConnectionString7" value="Initial Catalog=SOLO;Data Source=TS-01;User ID=sa;Password=oR//0j8iap1Ypt+bSzznGw==;Integrated Security='false';" />
    <add key="ConnectionString8" value="Initial Catalog=SOLOD2;Data Source=TS-01;User ID=sa;Password=oR//0j8iap1Ypt+bSzznGw==;Integrated Security='false';" />
    <add key="ConnectionString9" value="Initial Catalog=101;Data Source=TS-01;User ID=sa;Password=oR//0j8iap1Ypt+bSzznGw==;Integrated Security='false';" />
    <add key="ConnectionString10" value="Initial Catalog=RMA_STAGING;Data Source=TS-01;User ID=sa;Password=oR//0j8iap1Ypt+bSzznGw==;Integrated Security='false';" />
    <add key="LoggingConnectionString" value="Initial Catalog=Logging;Data Source=TS-01;User ID=sa;Password=oR//0j8iap1Ypt+bSzznGw==;Integrated Security='false';" />
    <add key="SecurityConnectionString" value="Initial Catalog=Security;Data Source=TS-01;User ID=sa;Password=oR//0j8iap1Ypt+bSzznGw==;Integrated Security='false';" />

    <!--Windows Authentication    <add key="ConnectionString1" value="Initial Catalog=101C;Data Source=TS-01;Integrated Security='true';" />
    <add key="ConnectionString2" value="Initial Catalog=MP;Data Source=TS-01;Integrated Security='true';" />
    <add key="ConnectionString3" value="Initial Catalog=SOLO;Data Source=TS-01;Integrated Security='true';" />
    <add key="ConnectionString4" value="Initial Catalog=101CD2;Data Source=TS-01;Integrated Security='true';" />
    <add key="ConnectionString5" value="Initial Catalog=SOLOD2;Data Source=TS-01;Integrated Security='true';" />
    <add key="ConnectionString6" value="Initial Catalog=101CD3;Data Source=TS-01;Integrated Security='true';" />
    <add key="ConnectionString7" value="Initial Catalog=101CD4;Data Source=TS-01;Integrated Security='true';" />
    <add key="ConnectionString8" value="Initial Catalog=101CD5;Data Source=TS-01;Integrated Security='true';" />
    <add key="ConnectionString9" value="Initial Catalog=101;Data Source=TS-01;Integrated Security='true';" />
    <add key="LoggingConnectionString" value="Initial Catalog=Logging;Data Source=TS-01;Integrated Security='true';" />
    <add key="SecurityConnectionString" value="Initial Catalog=Security;Data Source=TS-01;Integrated Security='true';" />
    -->

    <add key="Default_Batch_File_Directory" value="\\TS-01\RMA\\Batch_Files"/>
    <add key="QuizStats" value="\\TS-01\RMA\\alpha\rmabill\QuizStats"/>
    <add key="FlatFilePath" value="\\TS-01\RMA\\Subfiles" />
    <add key="ReportPath" value="\\TS-01\RMA\\UserID" />
    <add key="RE2005" value="http://TS-01/ReportServer/ReportExecution2005.asmx" />
    <add key="RS2005" value="http://TS-01/ReportServer/ReportService2005.asmx" />
    <add key="FlatFileDictionary" value="\\TS-01\RMA\\FlatFileDictionary" />
    <add key="UseWindowsAuthentication" value="False" />


  </appSettings>

  <coreAppSettings>
    <Dictionaries>

      <add key="en-ca" value="\\TS-01\RMA\\RMA_Batch\CoreXML\Dictionary_EN-CA.xml" />

    </Dictionaries>

  </coreAppSettings>

  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>

  <applicationSettings>
    <RMA_Batch.Properties.Settings>

      <setting name="RMA_Batch_RE2005_ReportExecutionService" serializeAs="String">
        <value>http://TS-01/ReportServer/ReportExecution2005.asmx</value>
      </setting>
      <setting name="RMA_Batch_RS2005_ReportingService2005" serializeAs="String">
        <value>http://TS-01/ReportServer/ReportService2005.asmx</value>
      </setting>

    </RMA_Batch.Properties.Settings>
  </applicationSettings>

  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>
