<configuration>
  <system.runtime.remoting>
    <application>

      <client>
        <wellknown type = "Core.StateServer.RemotingStateServerImplement, Core.StateServer" url = "tcp://localhost:8085/RemotingStateServerImplement.Rem"/>
      </client>
      <channels>
        <channel ref = "tcp" port = "0"></channel>
      </channels>
    </application>
  </system.runtime.remoting>
</configuration>