ConfigFile > C:\Program Files\Microsoft SQL Server\MSRS13.MSSQLSERVER2016\Reporting Services\ReportServer\rsReportServer.config
ConnectionString > Data Source=CORE-10-173\MSSQLSERVER2016;Initial Catalog=101C;User=sa;Password=password
Project > rmaBilling
ReportAssembly > D:\Projects\RMA WPF\Reports\RMA_DATA\bin\Debug\RMA_DATA.dll
TextFileFolder > D:\Projects\RMA WPF\LogFiles
UseRDLExtension > No
WriteLogFile > Yes