<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="coreAppSettings">
      <section name="Dictionaries" type="Core.Framework.Core.Framework.ConfigSettingsReader,Core.Framework"/>
      <section name="Languages" type="Core.Framework.Core.Framework.ConfigSettingsReader,Core.Framework"/>
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="rma.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="ConnectionString1" value="Initial Catalog=101C;Data Source=DB-01\RMABILL;Integrated Security=SSPI;Persist Security Info='true';"/>
    <add key="ConnectionString2" value="Initial Catalog=101CD2;Data Source=DB-01\RMABILL;Integrated Security=SSPI;Persist Security Info='true';"/>
    <add key="ConnectionString3" value="Initial Catalog=101CD3;Data Source=DB-01\RMABILL;Integrated Security=SSPI;Persist Security Info='true';"/>
    <add key="ConnectionString4" value="Initial Catalog=101CD4;Data Source=DB-01\RMABILL;Integrated Security=SSPI;Persist Security Info='true';"/>
    <add key="ConnectionString5" value="Initial Catalog=101CD5;Data Source=DB-01\RMABILL;Integrated Security=SSPI;Persist Security Info='true';"/>
    <add key="ConnectionString6" value="Initial Catalog=MP;Data Source=DB-01\RMABILL;Integrated Security=SSPI;Persist Security Info='true';"/>
    <add key="ConnectionString7" value="Initial Catalog=SOLO;Data Source=DB-01\RMABILL;Integrated Security=SSPI;Persist Security Info='true';"/>
    <add key="ConnectionString8" value="Initial Catalog=SOLOD2;Data Source=DB-01\RMABILL;Integrated Security=SSPI;Persist Security Info='true';"/>
    <add key="ConnectionString9" value="Initial Catalog=101;Data Source=DB-01\RMABILL;Integrated Security=SSPI;Persist Security Info='true';"/>
    <add key="ConnectionString10" value="Initial Catalog=RMA_STAGING;Data Source=TS-01;Integrated Security=SSPI;Persist Security Info='true';" />
    <add key="LoggingConnectionString" value="Initial Catalog=Logging;Data Source=DB-01\RMABILL;Integrated Security=SSPI;Persist Security Info='true';"/>
    <add key="SecurityConnectionString" value="Initial Catalog=Security;Data Source=DB-01\RMABILL;Integrated Security=SSPI;Persist Security Info='true';"/>

    <add key="AuthenticationDatabase" value="SQL Server"/>
    <!--<add key="ClientSettingsProvider.ServiceUri" value=""/>-->
    <add key="CollectGarbage" value="true"/>
    <!--<add key="CompletedReportsPath" value="\\TS-01\RMA\UserID"/>-->
    <add key="DateFormat" value="yyyy/MM/dd"/>
    <add key="Domain" value="rmahamilton"/>
    <!--<add key="DomainController" value="rmaham-dc"/>-->
    <add key="FlatFileDictionary" value="\\AS-01\rma\FlatFileDictionary" />
    <add key="FlatFilePath" value="\\AS-01\rma\alpha" />
    <add key="IsQA" value="True"/>
    <add key="JobScriptPath" value="\\AS-01\RMA\Scripts\"/>
    <!--<add key="PdfAuthor" value="RMA"/>-->
    <!--<add key="PdfSubject" value="TIFF to searchable PDF conversion"/>-->
    <!--<add key="PdfKeywords" value="; TIFF to searchable PDF conversion"/>-->
    <add key="psServer" value=""/>
    <!--<add key="ReportPath" value="D:\RMA\UserID" />-->
    <add key="ReportServer" value="http://DB-01\RMABILL/ReportServer"/>
    <add key="RetrieveAmount" value="1005"/>
    <add key="ServiceUser" value="WhitesellM"/>
    <add key="ServiceUserPassword" value="+pt1xqPS/jQ40aSIk51GBQ=="/>
    <add key="SQLServerUseSchemas" value="True"/>
    <add key="Update" value="True"/>
    <add key="UseMultipleConnectStrings" value="True"/>
    <!--<add key="UseWindowsAuthentication" value="True"/>-->
  </appSettings>
  <coreAppSettings>
    <Dictionaries>
      <!-- Choosing Languages and Dictionary files
      "key" (in lower case) should be in the form of two letter Language- two letter Culture.
      This key should be the same as the Languages
      -->
      <!--<add key="en-us" value="\CoreXML\Dictionary_en-us.xml"/>-->
    </Dictionaries>
  </coreAppSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <system.serviceModel>
    <bindings/>
    <client/>
  </system.serviceModel>
</configuration>
